@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}
body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-color: #EEEFF1;
}
.wrapper{
  width: 100%;
}
h1{
  text-align: center;
  margin-bottom: 40px;
  color: #3867B7; 
}
.carousel{
  max-width: 1200px;
  margin: auto;
  padding: 0 30px;
}
.carousel .card{
  border-top: 10px solid #3867B7;
  cursor: pointer;
  background-color: white;
  color: #3867B7;
  text-align: center;
  margin: 20px 0;
  line-height: 250px;
  font-size: 36px;
  font-weight: 600;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
  transition: 0.5s;
}
.card:hover{
  border-top: 10px solid #F17335;
  color: #F17335;
  transform: scale(0.98);
}
.owl-dots{
  text-align: center;
  margin-top: 40px;
}
.owl-dot{
  height: 15px;
  width: 45px;
  margin: 0 5px;
  outline: none;
  border-radius: 14px;
  border: 2px solid #3867B7 !important;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}
.owl-dot.active,
.owl-dot:hover{
  background: #3867B7 !important;
}
